In [1]:
import pandas as pd
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Gujarat.csv")

In [3]:
df

,Location,Social Category,prim_Girls,prim_Boys,prim_Overall,upPrim_Girls,upPrim_Boys,upPrim_Overall,snr_Girls,snr_Boys,snr_Overall
0,AHMEDABAD,General,0.00,0.00,0.00,0.00,0.00,0.00,8.00,8.51,8.28
1,AHMEDABAD,OBC,0.00,0.00,0.00,7.17,4.03,5.49,17.23,20.13,18.96
2,AHMEDABAD,SC,0.00,0.00,0.00,0.00,0.00,0.00,9.89,14.03,12.21
3,AHMEDABAD,ST,0.00,0.00,0.00,17.65,15.37,16.39,29.30,25.31,27.06
4,AHMEDABAD,Overall,0.00,0.00,0.00,2.71,0.60,1.58,11.98,14.10,13.19
...,...,...,...,...,...,...,...,...,...,...,...
160,VALSAD,General,0.00,0.00,0.00,2.27,1.64,1.92,10.61,13.72,12.33
161,VALSAD,OBC,2.75,1.03,1.85,3.27,4.36,3.85,3.12,6.87,5.13
162,VALSAD,SC,10.80,11.36,11.10,22.43,17.45,19.80,16.08,26.68,21.75
163,VALSAD,ST,0.89,1.00,0.94,5.25,4.38,4.81,14.26,17.35,15.81
164,VALSAD,Overall,0.50,0.29,0.39,4.65,3.97,4.30,11.43,14.63,13.10

In [4]:
colName = "prim_Girls"
locations = df['Location']
caste = df['Social Category']

In [5]:
locations

0      AHMEDABAD
1      AHMEDABAD
2      AHMEDABAD
3      AHMEDABAD
4      AHMEDABAD
         ...
160       VALSAD
161       VALSAD
162       VALSAD
163       VALSAD
164       VALSAD
Name: Location, Length: 165, dtype: object

In [6]:
caste

0      General
1          OBC
2           SC
3           ST
4      Overall
        ...
160    General
161        OBC
162         SC
163         ST
164    Overall
Name: Social Category, Length: 165, dtype: object